In [ ]:
VAR1 = input("Enter your name:")

Enter your name:hi

In [ ]:
VAR1

'hi'

In [ ]:
print("Variable value is",VAR1)

Variable value is hi

In [ ]:
!python --version

Python 3.11.13

In [ ]:
cab = 'ola'
cost = 100.6

cost1 = int(cost)
print(cost1)

100

In [ ]:
cost = 100
Cost = 100.5
print("Cost with C:",Cost)
print("cost with c:",cost)

Cost with C: 100.5
cost with c: 100

In [ ]:
import keyword
keywords_list = keyword.kwlist
print(keywords_list)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
cost1 = 'high'
_cost = 108

type(cost1)

str

In [ ]:
a = 11
b = 10
x = 17.5
y = 5.5
print(a,b)

z = x + y
print(f"Add x and y is : {z}")

11 10
Add x and y is : 23.0

In [ ]:
print("Modulus of x and y is:",(x%y))
print("Power of a to b is:",(a**b))
print("Division of x and b is:",(x/b))
print("squre of x:",(x**2))

Modulus of x and y is: 1.0
Power of a to b is: 25937424601
Division of x and b is: 1.75
squre of x: 306.25

In [ ]:
x = 12
y = 15
j,k = 20,30

a = True
b = False

print('x==k:',x==k)
print('y==k:',y==k)
print('y>=k:',y>=k)
print('y<=k:',y<=k)
print('y!=k',y!=k)

print('a and b:', a and b)
print('a or b:',a or b)
print('not of a:',not a)

x==k: False
y==k: False
y>=k: False
y<=k: True
y!=k True
a and b: False
a or b: True
not of a: False

In [ ]:
s1 = 'Hi this the string'
print('initial string:',s1)
print('first two char:',s1[:2])
print('last 3 char:',s1[-3:])
print('substring 4 to 8 char:',s1[3:7])
print('upper case :',s1.upper())
print('lower case :',s1.lower())
print('Replace substring:',s1.replace(' ','_'))
print('length:',len(s1))
print('contains substring Hi:',("Hi" in s1))
print('concat substring user:',(s1 + " User"))

initial string: Hi this the string
first two char: Hi
last 3 char: ing
substring 4 to 8 char: this
upper case : HI THIS THE STRING
lower case : hi this the string
Replace substring: Hi_this_the_string
length: 18
contains substring Hi: True
concat substring user: Hi this the string User

In [ ]:
L1 = [100,200,300,400,500,600]
print('initial list:',L1)

len1 = len(L1)
print('length of initial list:',len1)

print('first element of initial list:',L1[0])
print('from 2nd to 3rd element of list:',L1[1:3])
print('Second last elemnet of list:',L1[-2])
L1.append(700)
print('Append 700 to the list:',L1)
L2 = L1 + [800,900]
print('Concatenate 2 lists:',L2)

L2.remove(300)
print('Remove 300 from list:',L2)

initial list: [100, 200, 300, 400, 500, 600]
length of initial list: 6
first element of initial list: 100
from 2nd to 3rd element of list: [200, 300]
Second last elemnet of list: 500
Append 700 to the list: [100, 200, 300, 400, 500, 600, 700]
Concatenate 2 lists: [100, 200, 300, 400, 500, 600, 700, 800, 900]
Remove 300 from list: [100, 200, 400, 500, 600, 700, 800, 900]

In [ ]:
#SET = {} or {[]} or set(list)

Set1 = {'Patient1','Patient2','Patient3','Patient4'}
list1 = ['Patient2','Patient1','Patient2','Patient3','Patient1','Patient3']
Set2 = set(list1)
print('unique elements of list:',Set2)
Set3 = Set1 - Set2
print('difference between 2 sets:',Set3)

unique elements of list: {'Patient3', 'Patient2', 'Patient1'}
difference between 2 sets: {'Patient4'}

In [ ]:
#dict = {"":"","":""}
dict_age = {"patient1":20,"patient2":34,"patient":45}
print('keys are:',dict_age.keys())
print('values are:',dict_age.values())
print('age of patient1:',dict_age['patient1'])

keys are: dict_keys(['patient1', 'patient2', 'patient'])
values are: dict_values([20, 34, 45])
age of patient1: 20

In [ ]:
patient1 = ('Gigi',75,'female')
patient2 = ('Chintu',13,'male')
patient3 = ('tinu',6,'male')
print("Age of Patient1:",patient1[1])

#unpacking
p1_name,p1_age,p1_gender = patient1
print(p1_name)

Age of Patient1: 75
Gigi

In [ ]:
#IF statement
num = int(input("enter num:"))
if num % 2 == 0:
  print("num is even")
else:
  print("num is odd")

enter num:7
num is odd

In [ ]:
Age = int(input("enter age:"))
if Age >= 10 and Age <= 20:
  print("Age within 10 to 20")

enter age:7

In [ ]:
#NestedIf

Age = int(input("enter age:"))
Weight = int(input("enter weight:"))

if Age >= 18:
  if Weight <= 50:
    print("The age is greater than 18 and weight is less than 50")
  else:
    print('the age is greater than 18 and weight is greater than 50')

enter age:50
enter weight:50
The age is greater than 18 and weight is less than 50

In [ ]:
#loop

var_patient = ['patient1','patient2','patient3','patient3']

for var in var_patient:
  print("welcome to hospital",var)

var_patient = [1,2,3,4,5]
for var in var_patient:
  if var % 2 == 0:
    print('even number',var)
  else:
    print('odd number',var)

welcome to hospital patient1
welcome to hospital patient2
welcome to hospital patient3
welcome to hospital patient3
odd number 1
even number 2
odd number 3
even number 4
odd number 5

In [ ]:
list_bmi = [23,18,28,22,16,19,26,29,33,32]
for var in list_bmi:
  if var < 18.5:
    print("underweight")
  elif var > 18.5 and var > 28:
    print("normal weight")
  else:
    print("overweight")

overweight
underweight
overweight
overweight
underweight
overweight
overweight
normal weight
normal weight
normal weight

In [ ]:
#for loop with if condition
var_age = [20,30,40,50]
count = 0
for var in var_age:
  if var < 30:
    count = count + 1

  print("number of patient with age less than 30:",count)

number of patient with age less than 30: 1
number of patient with age less than 30: 1
number of patient with age less than 30: 1
number of patient with age less than 30: 1

In [ ]:
list_bmi = [23,18,28,22,16,19,26,29,33,32]
underweight = 0
norweight = 0
overweight = 0

for var in list_bmi:
  if var < 18.5:
    underweight += 1
  elif var > 18.5 and var > 28:
    norweight += 1
  else:
    overweight += 1
print("Underweight:",underweight)
print("Normal Weight:",norweight)
print("Overweight:",overweight)

Underweight: 2
Normal Weight: 3
Overweight: 5

In [ ]:
#while loop
numb_med = int(input('enter the numb of medicine:'))
while numb_med > 0:
  numb_med = numb_med - 1
  print('number of medicine left:',numb_med)

enter the numb of medicine:8
number of medicine left: 7
number of medicine left: 6
number of medicine left: 5
number of medicine left: 4
number of medicine left: 3
number of medicine left: 2
number of medicine left: 1
number of medicine left: 0

In [ ]:
#break statement
num = ['pat1','pat2','pat3','pat4']
for var in num:
  if var == 'pat3':
    print("found pat3")
    break
  else:
    print('not found')

not found
not found
found pat3

In [ ]:
#continue statement
var_bp = [120,130,110,123,150,170]
for var in var_bp:
  if var < 130:
    continue
  print("high bp:",var)

high bp: 130
high bp: 150
high bp: 170

In [ ]:
#enumerate
var_bp = [120,170,130,150,165,187]
for index,var in enumerate(var_bp):
  if var > 130:
   print(f"Index is {index} Value is {var}")

Index is 1 Value is 170
Index is 3 Value is 150
Index is 4 Value is 165
Index is 5 Value is 187

In [ ]:
#zip
var_pat = ['pat2','pat2','pat3','pat4']
var_age = [23,67,43,12]
var_weight = [50.6,70,67,45]

for num1,num2,num3 in zip(var_pat,var_age,var_weight):
  print(f"Patient ID is {num1} and age is {num2} and weight is {num3}")

Patient ID is pat2 and age is 23 and weight is 50.6
Patient ID is pat2 and age is 67 and weight is 70
Patient ID is pat3 and age is 43 and weight is 67
Patient ID is pat4 and age is 12 and weight is 45

In [ ]:
#list comprehension
numbers = [2,4,5,8,3]
squares = [n**2 for n in numbers]
print(squares)

even_sq = [n**2 for n in numbers if n % 2 == 0]
print(even_sq)

[4, 16, 25, 64, 9]
[4, 16, 64]

In [ ]:
#Assingment1
meal = int(input("Hi user, Enter number of meals you have per day:"))
walk = int(input("Hi user, Enter number of minutes you walk mins per week:"))
if meal > 3 and walk > 150:
  print('Lifestyle is Good')
elif meal < 3 and walk < 150:
  print('Lifestyle is Poor')
else:
  print('Lifestyle is Average')

Hi user, Enter number of meals you have per day:5
Hi user, Enter number of minutes you walk mins per week:120
Lifestyle is Average

In [ ]:
#run
meal_list = [1,4,3,2,6,3]
walk_list = [120,160,150,130,120,140]
for num1,num2 in zip(meal_list,walk_list):
  if num1 > 3 and num2 > 150:
   print('Lifestyle is Good')
  elif num1 < 3 and num2 < 150:
   print('Lifestyle is Poor')
  else:
   print('Lifestyle is Average')

Lifestyle is Poor
Lifestyle is Good
Lifestyle is Average
Lifestyle is Poor
Lifestyle is Average
Lifestyle is Average

In [ ]:
#Assingment2
list_sugar = [89,120,137,189,90,120,135,123,130,109,88,111]
list_month = ['Jan','Feb','March','April','May','June','July','Aug','Sept','Oct','Nov','Dec']
for num1,num2 in zip(list_sugar,list_month):
  if num1 <= 99:
   print(f"The sugar level for the month of {num2} is {num1} mg/dL. This is Normal")
  elif num1 >= 100 and num1 <= 125:
   print(f"The sugar level for the month of {num2} is {num1} mg/dL. This is Prediabetes")
  else:
   print(f"The sugar level for the month of {num2} is {num1} mg/dL. This is Diabetes")
normal = 0
diab = 0
prediab = 0

for sugar in list_sugar:
  if sugar <= 99:
    normal += 1
  elif sugar >= 100 and sugar <= 125:
    prediab += 1
  else:
    diab += 1

print("Count of months having normal range:",normal)
print("Count of months having prediabetes range:",prediab)
print("Count of months having diabetes range:",diab)

Avg = sum(list_sugar)/len(list_sugar)
print('Average of sugar values:',Avg)

The sugar level for the month of Jan is 89 mg/dL. This is Normal
The sugar level for the month of Feb is 120 mg/dL. This is Prediabetes
The sugar level for the month of March is 137 mg/dL. This is Diabetes
The sugar level for the month of April is 189 mg/dL. This is Diabetes
The sugar level for the month of May is 90 mg/dL. This is Normal
The sugar level for the month of June is 120 mg/dL. This is Prediabetes
The sugar level for the month of July is 135 mg/dL. This is Diabetes
The sugar level for the month of Aug is 123 mg/dL. This is Prediabetes
The sugar level for the month of Sept is 130 mg/dL. This is Diabetes
The sugar level for the month of Oct is 109 mg/dL. This is Prediabetes
The sugar level for the month of Nov is 88 mg/dL. This is Normal
The sugar level for the month of Dec is 111 mg/dL. This is Prediabetes
Count of months having normal range: 3
Count of months having prediabetes range: 5
Count of months having diabetes range: 4
Average of sugar values: 120.08333333333333

In [ ]:
#function
#def
#function_name(arguments)
#block of code

def fn_add(a,b):
  c = a + b
  return c
var_sum = fn_add(9,7)
print('Sum of 2 numbers:',var_sum)

def fn_sub(e,f):
  d = e - f
  return d
var_sub = fn_sub(9,7)
print('Substraction of 2 numbers is:',var_sub)

def fn_mul(w,x,y):
  z = w * x * y
  return z
var_mul = fn_mul(4,5,2)
print('Multiplication of 3 numbers is:',var_mul)

def greet(Name,Age,Gender):
  print('Hello, Welcome to Hospital',Name)
  print('Age:',Age)
  print('Gender:',Gender)

greet('Gigi',14,'Female')
greet('Chintu',19,'Male')

Sum of 2 numbers: 16
Substraction of 2 numbers is: 2
Multiplication of 3 numbers is: 40
Hello, Welcome to Hospital Gigi
Age: 14
Gender: Female
Hello, Welcome to Hospital Chintu
Age: 19
Gender: Male

In [ ]:
#function with IF Condition
def classify_age(Age):
  if Age>18:
    return "Adult"
  else:
    return "Child"
Age = int(input("enter age:"))
var_age = classify_age(Age)
print(f'the patient with age {Age} is',var_age)

#for loop with function
def greet(name):
 print(f'Hello,{name}')
names = {'Gigi','Chintu','Bob'}
for name in names:
  greet(name)

enter age:12
the patient with age 12 is Child
Hello,Bob
Hello,Chintu
Hello,Gigi

In [ ]:
#lambda function
square = lambda x : x**2
print(square(7))

add = lambda x,y: x + y
print(add(5,9))

49
14

In [ ]:
def cal_bmi(height,weight):
  Bmi = weight/(height**2)
  if Bmi < 18.5:
   return"underweight"
  elif Bmi > 18.5 and Bmi > 28:
   return "normal weight"
  else:
   return "overweight"

weight = float(input('enter weight:'))
height = float(input('enter height:'))
Bmi = cal_bmi(height,weight)
print('The person is:',Bmi)

enter weight:50
enter height:1.2
The person is: normal weight

In [ ]:
def cal_bmi(h,w):
  Bmi = w/(h**2)
  return Bmi
weight = [60,87,54,78]
height = [1.9,2.2,1.6,2]
for h,w in zip(height,weight):
  Bmi = cal_bmi(h,w)
  print('The BMI is:',Bmi)
  if Bmi < 18.5:
    print("underweight")
  elif Bmi > 18.5 and Bmi <= 28:
    print("normal weight")
  else:
    print("overweight")

The BMI is: 16.62049861495845
underweight
The BMI is: 17.975206611570247
underweight
The BMI is: 21.093749999999996
normal weight
The BMI is: 19.5
normal weight

In [ ]:
def add_sub(a,b):
 c = a - b
 d = a + b
 return c,d

sub_var,add_var = add_sub(3,4)
print('the result is:',sub_var)
print('the result is:',add_var)

the result is: -1
the result is: 7

In [ ]:
#NumPy(Numerical Python)

import numpy as np
list1 = [1,2,3,4]
np_var = np.array(list1)
np_arr = np.array([1,2,3,4])
print("the numpy array is:",np_var)
print("the length numpy array is:",len(np_arr))
print("the second element of array:",np_arr[1])
print("the resutant if 5 added to numpy array:",(np_arr + 5))
print("the addition of all elements:",np.sum(np_arr))
print("the minimum of all elements:",np.min(np_arr))
print("the mean of all elements:",np.mean(np_arr))
print("the SD of all elements:",np.std(np_arr))
print("the shape of array:",np_arr.shape)

#filter
np_arr1 = np_arr[np_arr>2]
print("Array elements greater than 2:",np_arr1)

np_arr1 = np_arr[(np_arr>2) & (np_arr<4)]
print("Array elements greater than 2 and less than 4:",np_arr1)

np_desc = np_arr[::-1]
print("descending order of array:",np_desc)

np_arr2 = np.array([4,7,9])
np_arr3 = np.array([8,6,3])
print("Addition of two arrays:",np.add(np_arr2,np_arr3))
#np.subtract,np.multiply,np.divide

the numpy array is: [1 2 3 4]
the length numpy array is: 4
the second element of array: 2
the resutant if 5 added to numpy array: [6 7 8 9]
the addition of all elements: 10
the minimum of all elements: 1
the mean of all elements: 2.5
the SD of all elements: 1.118033988749895
the shape of array: (4,)
Array elements greater than 2: [3 4]
Array elements greater than 2 and less than 4: [3]
descending order of array: [4 3 2 1]
Addition of two arrays: [12 13 12]

In [ ]:
np_height = np.array([1.9,2.1,2.3,2])
np_weight = np.array([66,89,76,50])
bmi = np_weight/np_height**2
print("BMI is:",bmi)

BMI is: [18.28254848 20.1814059  14.36672968 12.5       ]

In [ ]:
import numpy as np
np_arr_2D = np.array([[1,2,3],[4,5,6]])
print('inital array is :',np_arr_2D)
print('shape of array is:',np_arr_2D.shape)
print('the numb of rows :',np_arr_2D.shape[0])
print('the numb of columns is:',np_arr_2D.shape[1])
print('just first row of array:',np_arr_2D[0,:])
print('just first column of array:',np_arr_2D[:,0])
print('just 2nd column of array:',np_arr_2D[:,1])
print('just 2nd row of array:',np_arr_2D[1,:])
print('first row first column of array:',np_arr_2D[0,0])
print('2nd row 3rd column of array:',np_arr_2D[1,2])
print('2nd row 2nd column of array:',np_arr_2D[1,1])

inital array is : [[1 2 3]
 [4 5 6]]
shape of array is: (2, 3)
the numb of rows : 2
the numb of columns is: 3
just first row of array: [1 2 3]
just first column of array: [1 4]
just 2nd column of array: [2 5]
just 2nd row of array: [4 5 6]
first row first column of array: 1
2nd row 3rd column of array: 6
2nd row 2nd column of array: 5

In [ ]:
import numpy as np
np_arr_2D2 = np.array([[9,7,2],[4,8,0],[6,1,3]])
print('2nd row:',np_arr_2D2[1,:])
print('3rd column:',np_arr_2D2[:,2])
print('1st row 3rd column:',np_arr_2D2[0,2])

2nd row: [4 8 0]
3rd column: [2 0 3]
1st row 3rd column: 2

In [ ]:
#panda
import pandas as pd

#dataframe_nfhs = pd.read_csv('/content/Dist_Nfhs5_Sample Edit.xlsx')

dataframe_nfhs = pd.read_excel('/content/Dist_Nfhs5_Sample Edit.xlsx')
print('shape of dataframe:',dataframe_nfhs.shape)
print('numb of rows:',dataframe_nfhs.shape[0])
print('numb of columns:',dataframe_nfhs.shape[1])
print(dataframe_nfhs.info())

#five 5 records
dataframe_nfhs.head()
#last 5 records
dataframe_nfhs.tail()
#as many records(n) can be extracted
#dataframe_nfhs.head(n)
#dataframe_nfhs.tail(n)

print(dataframe_nfhs.columns)

#access column
dataframe_nfhs.columns[9]

shape of dataframe: (30, 23)
numb of rows: 30
numb of columns: 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   District                          30 non-null     object
 1   Division                          30 non-null     object
 2   All women anaemic                 30 non-null     float64
 3   Women overweight                  30 non-null     float64
 4   Women low BMI                     30 non-null     float64
 5   Blood sugar level  high           30 non-null     float64
 6   Children anaemic                  30 non-null     float64
 7   Children overweight               30 non-null     float64
 8   Children severely wasted          30 non-null     float64
 9   Children stunted                  30 non-null     float64
 10  Children underweight              30 non-null     float64
 11  Households with health insurance  30 non-null     float64
 12  Mildly elevated blood pressure    30 non-null     float64
 13  Mothers  180 IFA                  30 non-null     float64
 14  Average OOPE                      30 non-null     int64
 15  Mothers 4ANC                      30 non-null     float64
 16  Cooking Fuel                      30 non-null     float64
 17  Households using iodized salt     30 non-null     float64
 18  Houshold sanitation facility      30 non-null     float64
 19  Household drinkingwater           30 non-null     float64
 20  Household electricity             30 non-null     float64
 21  Women Literacy                    30 non-null     float64
 22  Women schooling                   30 non-null     float64
dtypes: float64(20), int64(1), object(2)
memory usage: 5.5+ KB
None
Index(['District', 'Division', 'All women anaemic', 'Women overweight',
       'Women low BMI', 'Blood sugar level  high', 'Children anaemic',
       'Children overweight', 'Children severely wasted', 'Children stunted',
       'Children underweight', 'Households with health insurance',
       'Mildly elevated blood pressure', 'Mothers  180 IFA', 'Average OOPE',
       'Mothers 4ANC', 'Cooking Fuel', 'Households using iodized salt ',
       'Houshold sanitation facility', 'Household drinkingwater',
       'Household electricity ', 'Women Literacy', 'Women schooling '],
      dtype='object')

'Children stunted'

In [ ]:
dataframe_nfhs.columns[1:3]
dataframe_nfhs['Division']

0       Belgavi
1     Bangalore
2     Bangalore
3       Belgavi
4      Kalburgi
5      Kalburgi
6       Belgavi
7        Mysore
8     Bangalore
9        Mysore
10    Bangalore
11       Mysore
12    Bangalore
13      Belgavi
14      Belgavi
15     Kalburgi
16       Mysore
17      Belgavi
18       Mysore
19    Bangalore
20     Kalburgi
21    Bangalore
22       Mysore
23     Kalburgi
24       Mysore
25    Bangalore
26    Bangalore
27       Mysore
28      Belgavi
29     Kalburgi
Name: Division, dtype: object

In [ ]:
dataframe_nfhs[['Children stunted','District','Division']]

    Children stunted          District   Division
0               48.3          Bagalkot    Belgavi
1               31.3         Bangalore  Bangalore
2               36.6   Bangalore Rural  Bangalore
3               32.8           Belgaum    Belgavi
4               36.1           Bellary   Kalburgi
5               36.8             Bidar   Kalburgi
6               45.9           Bijapur    Belgavi
7               32.2    Chamarajanagar     Mysore
8               31.3   Chikkaballapura  Bangalore
9               27.3       Chikmagalur     Mysore
10              36.0       Chitradurga  Bangalore
11              25.1  Dakshina Kannada     Mysore
12              38.4        Davanagere  Bangalore
13              45.2           Dharwad    Belgavi
14              45.2             Gadag    Belgavi
15              34.5          Gulbarga   Kalburgi
16              27.1            Hassan     Mysore
17              29.9            Haveri    Belgavi
18              30.4            Kodagu     Mysore
19              31.1             Kolar  Bangalore
20              49.1            Koppal   Kalburgi
21              24.3            Mandya  Bangalore
22              27.5            Mysore     Mysore
23              39.8           Raichur   Kalburgi
24              15.6        Ramanagara     Mysore
25              29.0           Shimoga  Bangalore
26              40.3            Tumkur  Bangalore
27              23.1             Udupi     Mysore
28              29.6    Uttara Kannada    Belgavi
29              57.6            Yadgir   Kalburgi

In [ ]:
dataframe_nfhs.iloc[:,8]

0      4.4
1     11.4
2      9.4
3     10.2
4     13.6
5     11.1
6      4.3
7      6.8
8      6.1
9     11.5
10     8.3
11    15.7
12     3.9
13     4.6
14     4.5
15    12.2
16     5.2
17     3.9
18     9.3
19     5.8
20     3.8
21     5.3
22     7.2
23    11.7
24     7.7
25    13.5
26     3.1
27     6.0
28    13.1
29     7.2
Name: Children severely wasted, dtype: float64

In [ ]:
dataframe_nfhs.iloc[28,9]
dataframe_nfhs.iloc[:,[0,1]]

            District   Division
0           Bagalkot    Belgavi
1          Bangalore  Bangalore
2    Bangalore Rural  Bangalore
3            Belgaum    Belgavi
4            Bellary   Kalburgi
5              Bidar   Kalburgi
6            Bijapur    Belgavi
7     Chamarajanagar     Mysore
8    Chikkaballapura  Bangalore
9        Chikmagalur     Mysore
10       Chitradurga  Bangalore
11  Dakshina Kannada     Mysore
12        Davanagere  Bangalore
13           Dharwad    Belgavi
14             Gadag    Belgavi
15          Gulbarga   Kalburgi
16            Hassan     Mysore
17            Haveri    Belgavi
18            Kodagu     Mysore
19             Kolar  Bangalore
20            Koppal   Kalburgi
21            Mandya  Bangalore
22            Mysore     Mysore
23           Raichur   Kalburgi
24        Ramanagara     Mysore
25           Shimoga  Bangalore
26            Tumkur  Bangalore
27             Udupi     Mysore
28    Uttara Kannada    Belgavi
29            Yadgir   Kalburgi

In [ ]:
dataframe_nfhs.iloc[4,:]

District                                  Bellary
Division                                 Kalburgi
All women anaemic                            58.1
Women overweight                             27.3
Women low BMI                                22.2
Blood sugar level  high                       9.5
Children anaemic                             67.5
Children overweight                           1.3
Children severely wasted                     13.6
Children stunted                             36.1
Children underweight                         36.5
Households with health insurance             25.7
Mildly elevated blood pressure               26.7
Mothers  180 IFA                             15.0
Average OOPE                                12348
Mothers 4ANC                                 56.4
Cooking Fuel                                 76.2
Households using iodized salt                84.7
Houshold sanitation facility                 64.1
Household drinkingwater                      94.7
Household electricity                        98.9
Women Literacy                               64.4
Women schooling                              39.9
Anemia Category                     Above Average
Average%                                     18.9
Name: 4, dtype: object

In [ ]:
dataframe_nfhs.loc[[0,3], ['District','All women anaemic']]

   District  All women anaemic
0  Bagalkot               48.0
3   Belgaum               52.9

In [ ]:
dataframe_nfhs['District'].unique()

array(['Bagalkot', 'Bangalore', 'Bangalore Rural', 'Belgaum', 'Bellary',
       'Bidar', 'Bijapur', 'Chamarajanagar', 'Chikkaballapura',
       'Chikmagalur', 'Chitradurga', 'Dakshina Kannada', 'Davanagere',
       'Dharwad', 'Gadag', 'Gulbarga', 'Hassan', 'Haveri', 'Kodagu',
       'Kolar', 'Koppal', 'Mandya', 'Mysore', 'Raichur', 'Ramanagara',
       'Shimoga', 'Tumkur', 'Udupi', 'Uttara Kannada', 'Yadgir'],
      dtype=object)

In [ ]:
#filtering based on column values
#div_dif= dataframe_nfhs[dataframe_nfhs['Division']=='Mysore']
div_dif= dataframe_nfhs[(dataframe_nfhs['Division']=='Bangalore') & (dataframe_nfhs['Children underweight']<20)]
div_dif.head()

,District,Division,All women anaemic,Women overweight,Women low BMI,Blood sugar level high,Children anaemic,Children overweight,Children severely wasted,Children stunted,...,Mothers 4ANC,Cooking Fuel,Households using iodized salt,Houshold sanitation facility,Household drinkingwater,Household electricity,Women Literacy,Women schooling,Anemia Category,Average%
19,Kolar,Bangalore,43.6,27.9,17.8,10.5,57.9,5.3,5.8,31.1,...,90.9,89.9,94.7,89.2,98.5,99.5,78.3,55.0,Below Average,10.5
21,Mandya,Bangalore,47.0,38.7,13.7,12.4,58.2,1.3,5.3,24.3,...,90.1,90.5,97.7,86.7,98.4,98.4,78.3,52.5,Below Average,9.0

In [ ]:
#add new column
#dataframe['new column'] = dataframe['existing column1']+dataframe['existing column2]

dataframe_nfhs['Average%'] = (dataframe_nfhs['Children overweight'] + dataframe_nfhs['Children underweight'])/2
dataframe_nfhs.head()

,District,Division,All women anaemic,Women overweight,Women low BMI,Blood sugar level high,Children anaemic,Children overweight,Children severely wasted,Children stunted,...,Mothers 4ANC,Cooking Fuel,Households using iodized salt,Houshold sanitation facility,Household drinkingwater,Household electricity,Women Literacy,Women schooling,Anemia Category,Average%
0,Bagalkot,Belgavi,48.0,28.6,17.1,11.4,63.8,2.4,4.4,48.3,...,76.2,56.6,81.3,51.3,99.2,98.9,69.7,37.7,Below Average,22.35
1,Bangalore,Bangalore,35.5,40.1,10.0,18.8,58.9,4.3,11.4,31.3,...,74.6,97.2,99.4,90.4,99.2,98.8,87.3,70.1,Below Average,16.20
2,Bangalore Rural,Bangalore,44.2,33.2,14.1,11.5,60.8,6.0,9.4,36.6,...,90.9,93.6,95.6,88.8,97.9,99.2,83.8,56.3,Below Average,14.90
3,Belgaum,Belgavi,52.9,23.8,22.2,9.9,72.7,2.9,10.2,32.8,...,63.7,74.8,95.2,67.7,94.4,99.1,74.0,47.8,Above Average,19.90
4,Bellary,Kalburgi,58.1,27.3,22.2,9.5,67.5,1.3,13.6,36.1,...,56.4,76.2,84.7,64.1,94.7,98.9,64.4,39.9,Above Average,18.90

In [ ]:
#create a column for a condition
#create a new column whether "Above Average Anemia" or "Below Average Anemia" for "All women anaemic"

import numpy as np
dataframe_nfhs['Anemia Category'] = np.where(dataframe_nfhs['All women anaemic'] > dataframe_nfhs['All women anaemic'].mean(),'Above Average','Below Average')
dataframe_nfhs.head()

,District,Division,All women anaemic,Women overweight,Women low BMI,Blood sugar level high,Children anaemic,Children overweight,Children severely wasted,Children stunted,...,Average OOPE,Mothers 4ANC,Cooking Fuel,Households using iodized salt,Houshold sanitation facility,Household drinkingwater,Household electricity,Women Literacy,Women schooling,Anemia Category
0,Bagalkot,Belgavi,48.0,28.6,17.1,11.4,63.8,2.4,4.4,48.3,...,4576,76.2,56.6,81.3,51.3,99.2,98.9,69.7,37.7,Below Average
1,Bangalore,Bangalore,35.5,40.1,10.0,18.8,58.9,4.3,11.4,31.3,...,3633,74.6,97.2,99.4,90.4,99.2,98.8,87.3,70.1,Below Average
2,Bangalore Rural,Bangalore,44.2,33.2,14.1,11.5,60.8,6.0,9.4,36.6,...,4836,90.9,93.6,95.6,88.8,97.9,99.2,83.8,56.3,Below Average
3,Belgaum,Belgavi,52.9,23.8,22.2,9.9,72.7,2.9,10.2,32.8,...,3902,63.7,74.8,95.2,67.7,94.4,99.1,74.0,47.8,Above Average
4,Bellary,Kalburgi,58.1,27.3,22.2,9.5,67.5,1.3,13.6,36.1,...,12348,56.4,76.2,84.7,64.1,94.7,98.9,64.4,39.9,Above Average

In [ ]:
#rename column
#df.rename(columns = {'old column':'new column'},inplace=True)

dataframe_nfhs.rename(columns = {'All women anaemic':'Anaemic Women'},inplace=True)
dataframe_nfhs.head()

,District,Division,Anaemic Women,Women overweight,Women low BMI,Blood sugar level high,Children anaemic,Children overweight,Children severely wasted,Children stunted,...,Mothers 4ANC,Cooking Fuel,Households using iodized salt,Houshold sanitation facility,Household drinkingwater,Household electricity,Women Literacy,Women schooling,Anemia Category,Average%
0,Bagalkot,Belgavi,48.0,28.6,17.1,11.4,63.8,2.4,4.4,48.3,...,76.2,56.6,81.3,51.3,99.2,98.9,69.7,37.7,Below Average,22.35
1,Bangalore,Bangalore,35.5,40.1,10.0,18.8,58.9,4.3,11.4,31.3,...,74.6,97.2,99.4,90.4,99.2,98.8,87.3,70.1,Below Average,16.20
2,Bangalore Rural,Bangalore,44.2,33.2,14.1,11.5,60.8,6.0,9.4,36.6,...,90.9,93.6,95.6,88.8,97.9,99.2,83.8,56.3,Below Average,14.90
3,Belgaum,Belgavi,52.9,23.8,22.2,9.9,72.7,2.9,10.2,32.8,...,63.7,74.8,95.2,67.7,94.4,99.1,74.0,47.8,Above Average,19.90
4,Bellary,Kalburgi,58.1,27.3,22.2,9.5,67.5,1.3,13.6,36.1,...,56.4,76.2,84.7,64.1,94.7,98.9,64.4,39.9,Above Average,18.90

In [ ]:
#replace values in column

#df['column'].replace({'old_value1':'new_value1','old_value2':'new_value2'},inplace=True)
dataframe_nfhs['Division'].replace({'Mysore':'Mysuru','Belgavi':'Belagaavi'},inplace=True)
dataframe_nfhs.head()

/tmp/ipython-input-1965465951.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe_nfhs['Division'].replace({'Mysore':'Mysuru','Belgavi':'Belagaavi'},inplace=True)

,District,Division,Anaemic Women,Women overweight,Women low BMI,Blood sugar level high,Children anaemic,Children overweight,Children severely wasted,Children stunted,...,Mothers 4ANC,Cooking Fuel,Households using iodized salt,Houshold sanitation facility,Household drinkingwater,Household electricity,Women Literacy,Women schooling,Anemia Category,Average%
0,Bagalkot,Belagaavi,48.0,28.6,17.1,11.4,63.8,2.4,4.4,48.3,...,76.2,56.6,81.3,51.3,99.2,98.9,69.7,37.7,Below Average,22.35
1,Bangalore,Bangalore,35.5,40.1,10.0,18.8,58.9,4.3,11.4,31.3,...,74.6,97.2,99.4,90.4,99.2,98.8,87.3,70.1,Below Average,16.20
2,Bangalore Rural,Bangalore,44.2,33.2,14.1,11.5,60.8,6.0,9.4,36.6,...,90.9,93.6,95.6,88.8,97.9,99.2,83.8,56.3,Below Average,14.90
3,Belgaum,Belagaavi,52.9,23.8,22.2,9.9,72.7,2.9,10.2,32.8,...,63.7,74.8,95.2,67.7,94.4,99.1,74.0,47.8,Above Average,19.90
4,Bellary,Kalburgi,58.1,27.3,22.2,9.5,67.5,1.3,13.6,36.1,...,56.4,76.2,84.7,64.1,94.7,98.9,64.4,39.9,Above Average,18.90

In [ ]:
#Descriptive Analysis

print('Miniumum is:',dataframe_nfhs['Anaemic Women'].min())
print('Maximum is:',dataframe_nfhs['Anaemic Women'].max())
print('Mean is:',dataframe_nfhs['Anaemic Women'].mean())
print('Standard Deviation is:',dataframe_nfhs['Anaemic Women'].std())
print('Median is:',dataframe_nfhs['Anaemic Women'].median())

Miniumum is: 35.5
Maximum is: 60.4
Mean is: 48.21333333333333
Standard Deviation is: 6.189074541331758
Median is: 47.65

In [ ]:
dataframe_nfhs_sorted = dataframe_nfhs.sort_values(by=['Division'])
dataframe_nfhs_sorted.head()

,District,Division,Anaemic Women,Women overweight,Women low BMI,Blood sugar level high,Children anaemic,Children overweight,Children severely wasted,Children stunted,...,Mothers 4ANC,Cooking Fuel,Households using iodized salt,Houshold sanitation facility,Household drinkingwater,Household electricity,Women Literacy,Women schooling,Anemia Category,Average%
1,Bangalore,Bangalore,35.5,40.1,10.0,18.8,58.9,4.3,11.4,31.3,...,74.6,97.2,99.4,90.4,99.2,98.8,87.3,70.1,Below Average,16.2
2,Bangalore Rural,Bangalore,44.2,33.2,14.1,11.5,60.8,6.0,9.4,36.6,...,90.9,93.6,95.6,88.8,97.9,99.2,83.8,56.3,Below Average,14.9
26,Tumkur,Bangalore,49.3,30.4,15.2,13.0,67.6,6.1,3.1,40.3,...,80.4,85.3,94.7,86.1,96.2,99.6,81.9,58.9,Above Average,16.4
25,Shimoga,Bangalore,41.9,30.3,15.0,14.8,68.9,6.0,13.5,29.0,...,79.4,85.7,91.0,85.4,94.6,99.5,79.8,49.1,Below Average,20.2
21,Mandya,Bangalore,47.0,38.7,13.7,12.4,58.2,1.3,5.3,24.3,...,90.1,90.5,97.7,86.7,98.4,98.4,78.3,52.5,Below Average,9.0

In [ ]:
#value count
#df['Column'],value_counts()

dataframe_nfhs['Division'].value_counts()

Division
Bangalore    9
Mysuru       8
Belagaavi    7
Kalburgi     6
Name: count, dtype: int64

In [ ]:
#GroupBy

#df.groupby(by = []).agg(dict)

dictagg = {'Anaemic Women':'mean','Women overweight':'sum','District':'count'}
df_div_agg = dataframe_nfhs.groupby(by = ['Division']).agg(dictagg)
df_div_agg.head()

           Anaemic Women  Women overweight  District
Division
Bangalore      44.811111             302.7         9
Belagaavi      50.257143             195.9         7
Kalburgi       57.083333             130.5         6
Mysuru         43.600000             252.6         8

In [ ]:
#pd.pivot_table(df, values = "Values_column", index=['Index_column1','Index_column2], columns=['Columns_column1','Columns_column2'])

In [ ]:
#merging
#pd.merge(left = ,right = ,left_on = ,right_on = ,how= '')

dataframe_nfhs_edit = dataframe_nfhs[['District','Anaemic Women','Children anaemic']]

df_pop = pd.read_excel('/content/Dist_Nfhs5_Sample Edit.xlsx',sheet_name = 'Population')
df_merge_left = pd.merge(left = dataframe_nfhs_edit,right = df_pop,left_on = 'District',right_on = 'District',how = 'left')
df_merge_left.head()

          District  Anaemic Women  Children anaemic  Population
0         Bagalkot           48.0              63.8     1889752
1        Bangalore           35.5              58.9     9621551
2  Bangalore Rural           44.2              60.8      990923
3          Belgaum           52.9              72.7     4779661
4          Bellary           58.1              67.5     2452595

In [ ]:
import pandas as pd
dataframe_nfhs = pd.read_excel("/content/Dist_Nfhs5_Sample Edit.xlsx")
dataframe_nfhs_edit = dataframe_nfhs[['Division','All women anaemic','Children anaemic']]
df_pop = pd.read_excel("/content/Dist_Nfhs5_Sample Edit.xlsx",sheet_name = "Population")
df_merge_left = pd.merge(left =dataframe_nfhs_edit,
                         right= df_pop,
                         left_on = "Division",
                         right_on = "Division",
                         how = "left")
df_merge_left.head(10)

    Division  All women anaemic  Children anaemic         District  Population
0    Belgavi               48.0              63.8         Bagalkot     1889752
1    Belgavi               48.0              63.8          Belgaum     4779661
2    Belgavi               48.0              63.8          Bijapur     2177331
3    Belgavi               48.0              63.8          Dharwad     1847023
4    Belgavi               48.0              63.8            Gadag     1064570
5    Belgavi               48.0              63.8           Haveri     1597668
6    Belgavi               48.0              63.8   Uttara Kannada     1437169
7  Bangalore               35.5              58.9        Bangalore     9621551
8  Bangalore               35.5              58.9  Bangalore Rural      990923
9  Bangalore               35.5              58.9  Chikkaballapura     1255104